# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
env/
.venv/
hrmenv/

# Environment variables
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (if any frontend tooling)
node_modules/
